@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&family=Raleway&display=swap');

form textarea {
  resize: none;
  width: 688px;
  height: 400px;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  background-color: #090A09;
  border: rgba(0, 255, 255, 0.315) 2px solid;
  transition: border ease 0.2s;
}

#todo-app-logo {
  width: 430px;
  filter: brightness(0.90);
  margin-left: calc(50% - 215px);
  margin-right: calc(50% - 215px);
  text-align: center;
}

header {
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #02020267;
  backdrop-filter: blur(4px);
  z-index: 100;
  transform: translateY(-150px);
  transition: all ease-in 0.15s;
  border-radius: 8px;
  border: #eaf1ee27 1.4px solid;
}

header img {
  width: 80px;
}

.header-active {
  transform: translateY(0px);
}

form textarea:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  margin-bottom: 5vh;
  margin-top: 20px;
  background-color: #090a0991;
  backdrop-filter: blur(30px);
  border: 1.4px solid #dadfde15;
  border-radius: 4px;
}

form button {
  color: #f3f3f3;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  background-color: #09CAAD;
  font-size: 16px;
  border: none;
  outline: none;
  width: 120px;
  padding-left: 10px;
  padding-right: 10px;
  height: 48px;
  border-radius: 60px;
  transition: all ease-out 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  filter: brightness(0.85), saturate(1.05);
}

button img {
  width: 24px;
}

form button:hover {
  filter: brightness(1.05), saturate(1.05);
}

body {
  background-image: linear-gradient(to top, #090A09, #ffffff0c), url('../public/img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #090A09;
  min-height: 100vh;
  background-attachment: fixed;
}

* {
  color: #eaf1ee;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2525256e;
  border-radius: 10px;
}

#todo-display {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to top, #0e0f0f, #0e0f0f, #0e0f0f, transparent);
}

.todo-item {
  width: 80%;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0px 12px;
  height: fit-content;
  box-shadow: 0px 8px 8px #0000003a;
}

.personal {
  border: #09caad56 1.4px solid;
  background-color: #0e0f0f;
}

.personal h5 {
  color: #4ad4c0;
  text-transform: capitalize;
}

.professional {
  border: #d57f4250 1.4px solid;
  background-color: #11100f;
}

.professional h5 {
  color: #d49b72;
  text-transform: capitalize;
}

.todo-item h5::before {
  content: '⬤';
  font-size: 6px;
  position: relative;
  margin-right: 4px;
  top: -2px;
}

.todo-item p {
  margin-top: -6px;
  margin-left: 12px;
}

@media screen and (max-width: 700px) {
  form textarea {
    width: 85%;
    height: 300px;
  }
  form {
    height: 65vh;
    width: 95%;
  }
  .todo-item {
    width: 90%;
  }
}