body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #090A09;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 1920px) {
  body {
    background-image: linear-gradient(to top, #090A09, #ffffff0c), url('../public/img/background-1080.webp');
  }
}

@media screen and (max-width: 700px) {
  body {
    background-image: linear-gradient(to top, #090A09, #ffffff0c), url('../public/img/background-mobile.webp');
  }
}